
    <div class="span7"
      <!-- Products highlights -->
      <div class="row-fluid">
        <div class="span4">
          <h2>Welder Hats</h2>
          <p>Custom welder's hats in all sizes, weights and colors.  Embroidery available!</p>
          <p><a class="btn" href="/products/hats/">More &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Tool Keeping</h2>
          <p>Handy ways to keep your tools organized.</p>
          <p><a class="btn" href="/products/tools/">More &raquo;</a></p>
        </div>
      </div>
    </div>

