<footer class="footer">
    <div class="container">
        <div class="col-sm-4 col-xs-12">
            <p>&copy; {{ site.title }}, LLC {{ site.time | date: '%Y' }}</p>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <a href="mailto:{{ site.email }}"> {{ site.email }}</a>
            {% if page.url == '/contact/' %}
            <p />
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            <a href="tel:{{ site.phone }}"> (970)493-9333</a>
            {% endif %}
        </div>
        <div class="col-sm-6 col-sm-offset-2 col-xs-12">
            <p class="muted">{{ site.description }}</p>
        </div>
    </div>
</footer>
