<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <!-- <img src="/img/logo_micro_black.png" alt="" style="float:left; margin: 5px;"/> -->
                <img src="/img/logo_micro_black.png"
                     alt="" style="float:left; margin: -5px;" height="32"/>
            </a>
            <button type="button"
                    class="navbar-toggle collapsed btn"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-expanded="false"
                    aria-controls="navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbarCollapse">
            <ul class="nav navbar-nav">
                {% for link in site.navigation %}
                <li role="presentation" {%if link.url == page.url %}class="active" {% endif %}>
                    <a href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

