
      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>Welder Hats</h2>
          <p>Custom welder's hats in all sizes, weights and colors.
          Embroidery available!</p>
          <p><a class="btn" href="/products/hats/">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Design and Prototype</h2>
          <p>Need a prototype or some design expertise? We can help.</p>
          <p><a class="btn" href="/contact/">Contact us &raquo;</a></p>
        </div>
      </div>

