
      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>Welder Hats</h2>
          <p>Custom welder's hats in all sizes, weights and colors.  Embroidery available!</p>
          <p><a class="btn" href="/products/hats/">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Design and Prototype</h2>
          <p>Need a prototype or some design expertise? We can help.</p>
          <p><a class="btn" href="/contact/">Contact us &raquo;</a></p>
        </div>
      </div>

