
      <div class="masthead">
        <img class="brand" src="/img/logo_micro_black.png" alt="" style="float:left; margin: 5px;"/>
        <h3 class="muted">Cindy Colorado</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="<%= 'active' if @item.path == '/' %>"><a href="/">Home</a></li>
                <li class="<%= 'active' if @item.path == '/products/' %>"><a href="/products/">Products</a></li>
                <li class="<%= 'active' if @item.path == '/contact/' %>"><a href="/contact/">Contact</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
        <ul class="breadcrumb">
          <% breadcrumbs_trail.each do |crumb| %>
          <li class="<%= 'active' if crumb.path == @item.path %>">
            <span class="divider">/</span>
            <% if crumb.path == @item.path %>
            <%= crumb[:title] %>
            <% else %>
            <a href="<%= crumb.path %>"><%= crumb[:title] %></a>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>

