#head {
  /* background: #f4f4f4 url(../img/bg_head.jpg) top center; */
  border-radius: none;
  background: none;
  background-size: cover;
  color: #7C7C7C;
  padding: 30px 0 35px 0;
}

#head img.img-circle {
  padding: 10px;
  height: 100%;
  border: none;
}

.img-circle {
  border-radius: unset;
}

img {
  max-width: 87.5%;
}


