<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
              <p>To order, please download and <b>complete the orderform</b>. Email a completed copy (scanned or otherwise) to <a href="mailto: cindy@cindycolorado.com">{{.Site.Params.email}}</a>.
              </p>
            </div>
            <div class="col-lg-4 text-right">
              <a href="{{ .Page.Params.orderform }}" class="btn btn-primary btn-lg">Download order form</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->

