<script src="https://www.paypal.com/sdk/js?client-id=ATd2SoShCDGM9bVO0VRgFMISdq-cg9_GN4o9XCl5e6w0JaHU5IK6MofnDNqUEAzBP4BlSu7y-FXn7GeQ&currency=USD"></script>

<div id="paypal-button-container"></div>

<script>
  paypal
    .Buttons({
      style: {
        shape: "rect",
        color: "black",
        layout: "vertical",
        label: "pay"
      },
      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: "1"
              }
            }
          ]
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
          alert(
            "Transaction completed by " + details.payer.name.given_name + "!"
          );
        });
      }
    })
    .render("#paypal-button-container");
</script>
