          <div class="row-fluid">
            <div class="span4">
              <h2>Welder Hats</h2>
              <p>Custom welder's hats. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>Design</h2>
              <p>Design and consultation. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>Consulting</h2>
              <p>Some other information on Consulting</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
          </div><!--/row-->
          <div class="row-fluid">
          </div><!--/row-->
