        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Hats</li>
              <li><a href="/hats/fabrics/">Fabrics</a></li>
              <li><a href="/hats/pricing/">Pricing</a></li>
              <li><a href="/hats/ordering/">Ordering</a></li>
              <li class="nav-header">Products</li>
              <li><a href="/crownroyal/">Crown Royal</a></li>
              <li><a href="/tools/">Tool Keeping</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

