<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
            {% include header.html %}

            <div class="page-content">
              <div class="wrap">
              {{ content }}
              </div>
            </div>
        </div>
        {% include footer.html %}
        <script src="{{ '/assets/js/jquery-1.11.3.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    </body>
</html>